<?xml version="1.0" ?>

<robot name="bravo_7_example">
  

  <material name="bravo_black">
    <color rgba="0.3 0.3 0.3 1. "/>
  </material>
  <material name="bravo_finger_jaws_black">
    <color rgba="0.3 0.3 0.3 1. "/>
  </material>

  <link name="world"/>

  <joint name="bravo_joint" type="fixed">
    <origin rpy="0 0 0" xyz="0 0 0"/>
    <parent link="world"/>
    <child link="bravo_base_link"/>
    <origin rpy="0 0 0" xyz="0. 0 0"/>
    <dynamics damping="10.0" friction="0.0"/>
  </joint>

  <link name="bravo_base_link">
    <inertial>
      <mass value="1.25"/>
      <origin xyz="-0.018 -0.004 -0.001"/>
      <inertia ixx="0.002108" ixy="0.00018199999999999998" ixz="-1.4999999999999999e-05" iyy="0.0025729999999999998" iyz="-2.1e-05" izz="0.003483"/>
    </inertial>
    <visual>
      <geometry>
        <mesh filename="package://bpl_bravo_description_real/meshes/RS2-1019_base.stl"/>
      </geometry>
      <material name="bravo_black"/>
      <origin rpy="0.0 -0.0 0.0" xyz="-0.068 0.0 -0.039"/>
    </visual>
  </link>

  <link name="bravo_1019_end_link">
    <inertial>
      <mass value="1.55"/>
      <inertia ixx="0.011441999999999999" ixy="-0.000484" ixz="0.003405" iyy="0.01298" iyz="-0.0012649999999999998" izz="0.003202"/>
      <origin xyz="0.017 -0.007 0.057"/>
    </inertial>
    <visual>
      <geometry>
        <mesh filename="package://bpl_bravo_description_real/meshes/RS2-1019_end.stl"/>
      </geometry>
      <material name="bravo_black"/>
      <origin rpy="0.0 -0.0 0.0" xyz="0.0 0.0 0.0"/>
    </visual>
    <visual>
      <geometry>
        <mesh filename="package://bpl_bravo_description_real/meshes/RS2-1013_base.stl"/>
      </geometry>
      <material name="bravo_black"/>
      <origin rpy="0.0 -0.0 0.0" xyz="0.0 0.0 0.0"/>
    </visual>
  </link>

  <link name="bravo_1013_joint_link">
    <inertial>
      <mass value="1.14"/>
      <origin xyz="0.117 -0.015 0.006"/>
      <inertia ixx="0.0032129999999999997" ixy="-0.001548" ixz="-3.1e-05" iyy="0.002327" iyz="6e-06" izz="0.00434"/>
    </inertial>
    <visual>
      <geometry>
        <mesh filename="package://bpl_bravo_description_real/meshes/RS2-1013_end.stl"/>
      </geometry>
      <material name="bravo_black"/>
      <origin rpy="0.0 -0.0 0.0" xyz="0.0 0.0 0.0"/>
    </visual>
    <visual>
      <geometry>
        <mesh filename="package://bpl_bravo_description_real/meshes/RS2-1026_0_base.stl"/>
      </geometry>
      <material name="bravo_black"/>
      <origin rpy="3.14159 -0.0 3.14159" xyz="0.04600000000128156 4.829533423884964e-07 -0.2325499999993592"/>
    </visual>
    <visual>
      <geometry>
        <mesh filename="package://bpl_bravo_description_real/meshes/RS2-1030.stl"/>
      </geometry>
      <material name="bravo_black"/>
      <origin rpy="3.14159 -0.0 3.14159" xyz="0.046 0.0 -0.05055"/>
    </visual>
  </link>

  <joint name="bravo_axis_g" type="fixed">  
    <dynamics damping="10.0" friction="0.0"/>
    <limit effort="500.0" lower="0.0" upper="6.2" velocity="3.0"/>
    <parent link="bravo_base_link"/>
    <child link="bravo_1019_end_link"/>
    <axis xyz=" 0.  0. -1."/>
    <origin rpy="0.0 0.0 0" xyz="0.0 0.0 0.039"/>
  </joint>

  <joint name="bravo_axis_f" type="revolute">
    <dynamics damping="10.0" friction="0.0"/>
    <limit effort="500.0" lower="0.0" upper="3.14" velocity="3.0"/>
    <parent link="bravo_1019_end_link"/>
    <child link="bravo_1013_joint_link"/>
    <axis xyz=" 0. -1.  0."/>
    <origin rpy="-1.5708 -0.0 0.0" xyz="0.046 0.0 0.0642"/>
  </joint>

  <!-- <link name="test">
    <visual>
      <geometry>
        <box size="0.0 0.0 0.0"/>
        <origin rpy="0.0 -0.0 0.0" xyz="0.0 -0.0 -0.0"/>
      </geometry>
    </visual>
  </link>

  <joint name="test_joint" type="fixed">
    <origin rpy="0.0 -0.0 0.0" xyz="0 0.0 0.0" />
    <axis xyz=" -1. 0. 0."/>
    <parent link="bravo_base_link"/>
    <child link="test"/>
  </joint> -->
</robot>