<robot name="jaws">

  <material name="bravo_finger_jaws_black">
    <color rgba="0.3 0.3 0.3 1. "/>
  </material>

  <link name="world"/>

  <!-- <joint name="bravo_joint" type="fixed">
    <origin rpy="0 0 0" xyz="0 0 0"/>
    <parent link="world"/>
    <child link="bravo_1023_1_joint_link"/>
    <origin rpy="0 0 0" xyz="0 0 0"/>
    <dynamics damping="10.0" friction="0.0"/>
  </joint>

  <link name="bravo_1023_1_joint_link">
    <inertial>
      <origin xyz="0.0 0.003 -0.098"/>
      <mass value="1.04"/>
      <inertia ixx="0.022359" ixy="1e-06" ixz="-1.8999999999999998e-05" iyy="0.022362999999999997" iyz="1.4999999999999999e-05" izz="0.000936"/>
    </inertial>
    <visual>
      <geometry>
        <mesh filename="package://bpl_bravo_description_real/meshes/RS2-1023_1_end.stl"/>
      </geometry>
      <material name="bravo_black"/>
      <origin rpy="0.0 -0.0 0.0" xyz="0.0 0.0 0.0"/>
    </visual>
    <visual>
      <geometry>
        <mesh filename="package://bpl_bravo_description_real/meshes/RS2-1028.stl"/>
      </geometry>
      <material name="bravo_black"/>
      <origin rpy="0.0 -0.0 0.0" xyz="0.0 0.0 0.0056"/>
    </visual>
    <visual>
      <geometry>
        <mesh filename="package://bpl_bravo_description_real/meshes/end_effectors/RS2-257.stl"/>
      </geometry>
      <material name="bravo_finger_jaws_black"/>
      <origin rpy="-1.5707 -1.5706999999997038 0.0" xyz="0.0 0.0 0.1256"/>
    </visual>
    <collision>
      <geometry>
        <cylinder length="0.0056" radius="0.0408"/>
      </geometry>
      <origin rpy="0.0 0.0 0.0" xyz="0.0 0.0 0.0028"/>
    </collision>
    <collision>
      <geometry>
        <cylinder length="0.12" radius="0.0408"/>
      </geometry>
      <origin rpy="0.0 -0.0 0.0" xyz="0.0 0.0 0.06559999999999999"/>
    </collision>
    <collision>
      <geometry>
        <cylinder length="0.02" radius="0.05"/>
      </geometry>
      <origin rpy="-9.632679489654805e-05 -9.631751559834678e-05 -1.5706999907215955" xyz="9.632679474766714e-07 0.0 0.13559999995360572"/>
    </collision>
  </link> -->

  <!-- <link name="bravo_push_rod">
    <inertial>
      <origin rpy="0.0 -0.0 0.0" xyz="0.0 0.0 0.0"/>
      <mass value="0.1"/>
      <inertia ixx="0.0001" ixy="0.0" ixz="0.0" iyy="0.0001" iyz="0.0" izz="0.0001"/>
    </inertial>
  </link> -->
  
  <link name="bravo_finger_jaws_rs2_300_link">
    <inertial>
      <origin rpy="0.0 -0.0 0.0" xyz="0.05 0.0 0.0"/>
      <mass value="0.24"/>
      <inertia ixx="0.000244" ixy="-1.2e-05" ixz="0.0" iyy="0.00113" iyz="1e-06" izz="0.001178"/>
    </inertial>
    <visual>
      <geometry>
        <mesh filename="package://bpl_bravo_description_real/meshes/end_effectors/RS2-300.stl"/>
      </geometry>
      <material name="bravo_finger_jaws_black"/>
      <origin rpy="0.0 -0.0 0.0" xyz="0.0 0.0 0.0"/>
    </visual>
    <collision>
      <geometry>
        <mesh filename="package://bpl_bravo_description_real/meshes/end_effectors/RS2-300.stl"/>
      </geometry>
      <origin rpy="0.0 -0.0 0.0" xyz="0.0 0.0 0.0"/>
    </collision>
  </link>

  <link name="bravo_finger_jaws_rs2_301_link">
    <inertial>
      <origin rpy="0.0 -0.0 0.0" xyz="0.05 0.0 0.0"/>
      <mass value="0.24"/>
      <inertia ixx="0.000244" ixy="-1.2e-05" ixz="0.0" iyy="0.00113" iyz="1e-06" izz="0.001178"/>
    </inertial>
    <visual>
      <geometry>
        <mesh filename="package://bpl_bravo_description_real/meshes/end_effectors/RS2-301.stl"/>
      </geometry>
      <material name="bravo_finger_jaws_black"/>
      <origin rpy="0.0 -0.0 0.0" xyz="0.0 0.0 0.0"/>
    </visual>
    <collision>
      <geometry>
        <mesh filename="package://bpl_bravo_description_real/meshes/end_effectors/RS2-301.stl"/>
      </geometry>
      <origin rpy="0.0 -0.0 0.0" xyz="0.0 0.0 0.0"/>
    </collision>
  </link>

  <!-- <joint name="bravo_axis_a" type="fixed">
    <dynamics damping="10.0" friction="0.0"/>
    <limit effort="1000.0" lower="0.0" upper="0.035" velocity="10.0"/>
    <parent link="bravo_1023_1_joint_link"/>
    <child link="bravo_push_rod"/>
    <axis xyz="0. 0. 1."/>
    <origin rpy="-1.5707 -1.5706999999997038 0.0" xyz="-8.669411487068951e-07 0.008999999958245167 0.12560000008350966"/>
  </joint> -->

  <joint name="bravo_finger_jaws_rs2_300_joint" type="revolute">
    <limit effort="400.0" lower="0.0" upper="1.0" velocity="3.0"/>
    <!-- <mimic joint="bravo_axis_a" multiplier="18.0" offset="0.0"/> -->
    <parent link="world"/>
    <child link="bravo_finger_jaws_rs2_300_link"/>
    <axis xyz=" 0.  0. -1."/>
    <origin rpy="-1.5707 -1.5706999999997038 0.0" xyz="-0.032999065323888854 -3.178784226673016e-06 0.1353031787392095"/>
  </joint>
  <joint name="bravo_finger_jaws_rs2_301_joint" type="revolute">
    <limit effort="400.0" lower="0.0" upper="1.0" velocity="3.0"/>
    <mimic joint="bravo_finger_jaws_rs2_300_joint" multiplier="1.0" offset="0.0"/>
    <parent link="world"/>
    <child link="bravo_finger_jaws_rs2_301_link"/>
    <axis xyz="0. 0. 1."/>
    <origin rpy="-1.5707 -1.5706999999997038 0.0" xyz="0.03300093406370696 3.178784226673016e-06 0.13529682117078565"/>
  </joint>

</robot>